<!DOCTYPE html>
<html>
<body>

<h2>Forms</h2>

<form action="/add">
  Course Code:<br>
  <input type="text" name="CourseCode"><br>
  <br>
  Nickname:<br>
  <input type="text" name="NickName"><br>
  <br>
  Professor Name:<br>
  <input type="text" name="ProfName"><br>
  <br>
  Session:<br>
  <input type="text" name="Session"><br>
  <br>
  TA Name:<br>
  <input type="text" name="TA Name"><br>
   <br>
   Lab/Tut :<br>
  <input type="text" name="Lab/Tut"><br>
  <br>
  Final Grade :<br>
  <input type="text" name="Final Grade"><br>
  <br>
  Level of Difficulty:<br>
  <input type="text" name="Level of Difficulty"><br>
  <br>
  Workload:<br>
  <input type="text" name="workload"><br>
   <br>
  Interesting:<br>
  <input type="text" name="interesting"><br>
   <br>
  Overall Rating:<br>
  <input type="text" name="Overall Rating"><br>
   <br>
  <input type="submit" value="Submit"> <br>
  
</form>

<p>Submit the form to help future students!</p>

</body>
</html>
