<!DOCTYPE html>
<html>
<head>
<style>
table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #CFE4F0;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #A3C8F0;
    color: white;
}
</style>
<meta charset="utf-8">
<title>Review</title>

</head>

<body>
<table>
    <th>CourseCode </th>
    <th>NickName</th>
    <th>ProfName</th>
    <th>Session</th>
    <th>TAName </th>
    <th> LABTUT </th>
    <th> FinalGrade </th>
    <th> LevelDifficulty</th>
    <th> WorkLoad </th>
    <th> Interesting </th>
    <th> OverallRating</th>
    {% for row in review_list %}
        <tr>
        {% for d in row %}
             <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>

	</center>
</body>
</html>
